<mat-card>
  <div fxLayout="row" fxFlex="grow">
    <div fxLayout="column" fxFlex="grow">
      <div fxLayoutAlign="space-between center" fxFlex="none" fxLayout="row wrap">
        <div fxLayoutAlign="start center" fxFlex fxFlex="50">
          <div>
            <mat-label class="b">Search</mat-label>
          </div>
          <div fxFlex="80">
            <mat-form-field appearance="fill">
              <input matInput [(ngModel)]="textFilterStr" [ngModelOptions]="{standalone: true}" (keyup)="textFilter($event)" matTooltip="Type d$ before the department name for search per department">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div fxLayoutAlign="end center" fxFlex="40" fxLayoutGap="10px">
          <div>
            <mat-select [(ngModel)]="dateFilterType" [ngModelOptions]="{standalone: true}">
              <mat-option value="Monthly">Filter Month</mat-option>
              <mat-option value="DateRange">Date Range</mat-option>
              <mat-option value="Quarter">Quarter</mat-option>
            </mat-select>
          </div>
          <div fxFlex="70" *ngIf="dateFilterType == 'Monthly'">
            <mat-form-field appearance="fill">
              <input matInput [matDatepicker]="dp" [formControl]="dateValue" readonly>
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp
                              startView="year"
                              (yearSelected)="chosenYearHandler($event)"
                              (monthSelected)="chosenMonthHandler($event, dp)"
                              panelClass="example-month-picker">
              </mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="70" *ngIf="dateFilterType == 'DateRange'">
            <mat-form-field appearance="fill">
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate [(ngModel)]="dateFrom" [ngModelOptions]="{standalone: true}">
                <input matEndDate [(ngModel)]="dateTo" [ngModelOptions]="{standalone: true}">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker startView="year">
                <mat-date-range-picker-actions>
                  <button mat-button matDateRangePickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDateRangePickerApply (click)="selectDateRange()">Apply</button>
                </mat-date-range-picker-actions>
              </mat-date-range-picker>
            </mat-form-field>
          </div>
          <div fxFlex="70" *ngIf="dateFilterType == 'Quarter'">
            <div fxFlex="65">
              <mat-select [(ngModel)]="qtrFilter" [ngModelOptions]="{standalone: true}" (selectionChange)='selectQtr()'>
                <mat-option value="1">1st Quarter</mat-option>
                <mat-option value="2">2nd Quarter</mat-option>
                <mat-option value="3">3rd Quarter</mat-option>
                <mat-option value="4">4th Quarter</mat-option>
              </mat-select>
            </div>
            <div fxFlex="30">
              <mat-select (selectionChange)="selectQtr()"
                  [(ngModel)]="qtrYearFilter" [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let yr of qtrYearSelection" [value]="yr">
                  {{yr}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div>
            <button mat-mini-fab color="primary" (click)="loadData()" matTooltip="View Items">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex>
        <mat-card-content *ngIf="isLoading" fxFlex class="loading-spinner">
          <mat-progress-spinner 
            color="primary" 
            mode="indeterminate">
          </mat-progress-spinner>
        </mat-card-content>
        <div class="tableContainer" fxFlex>
          <table mat-table [dataSource]="dataSource" class="main-table">
            <!-- <ng-container matColumnDef="logs">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab color="primary" (click)="viewItems(element)" matTooltip="View Items">
                  <mat-icon>list</mat-icon>
                </button>
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container> -->
      
            <ng-container matColumnDef="transaction_no">
              <th mat-header-cell *matHeaderCellDef> Transaction No </th>
              <td mat-cell *matCellDef="let element"> {{ element.transaction_no }} </td>
            </ng-container>
      
            <ng-container matColumnDef="application_type">
              <th mat-header-cell *matHeaderCellDef> Applictaion Type </th>
              <td mat-cell *matCellDef="let element"> {{ element.application_type }} </td>
            </ng-container>
      
            <ng-container matColumnDef="payment_type">
              <th mat-header-cell *matHeaderCellDef> Payment Mode </th>
              <td mat-cell *matCellDef="let element"> {{ element.payment_type }} </td>
            </ng-container>
      
            <ng-container matColumnDef="tax_year">
              <th mat-header-cell *matHeaderCellDef> Tax Year </th>
              <td mat-cell *matCellDef="let element"> {{ element.tax_year }} </td>
            </ng-container>
      
            <ng-container matColumnDef="organization_type">
              <th mat-header-cell *matHeaderCellDef> Organization Type </th>
              <td mat-cell *matCellDef="let element"> {{ element.organization_type }} </td>
            </ng-container>
      
            <ng-container matColumnDef="business_name">
              <th mat-header-cell *matHeaderCellDef> Business Name </th>
              <td mat-cell *matCellDef="let element"> {{ element.business_name }} </td>
            </ng-container>
      
            <ng-container matColumnDef="trade_name">
              <th mat-header-cell *matHeaderCellDef> Trade Name </th>
              <td mat-cell *matCellDef="let element"> {{ element.trade_name }} </td>
            </ng-container>
      
            <ng-container matColumnDef="tin_no">
              <th mat-header-cell *matHeaderCellDef> TIN No </th>
              <td mat-cell *matCellDef="let element"> {{ element.tin_no }} </td>
            </ng-container>
      
            <ng-container matColumnDef="dtiseccda_registration_date">
              <th mat-header-cell *matHeaderCellDef> DTI/SEC/CDA Reg Date </th>
              <td mat-cell *matCellDef="let element"> {{ element.dtiseccda_registration_date }} </td>
            </ng-container>
      
            <ng-container matColumnDef="dtiseccda_registration_no">
              <th mat-header-cell *matHeaderCellDef> DTI/SEC/CDA Reg No </th>
              <td mat-cell *matCellDef="let element"> {{ element.dtiseccda_registration_no }} </td>
            </ng-container>
      
            <ng-container matColumnDef="user_name">
              <th mat-header-cell *matHeaderCellDef> Applicant </th>
              <td mat-cell *matCellDef="let element"> {{ element.user_name }} </td>
            </ng-container>
      
            <ng-container matColumnDef="remarks">
              <th mat-header-cell *matHeaderCellDef> Remarks </th>
              <td mat-cell *matCellDef="let element"> {{ element.remarks }} </td>
            </ng-container>
      
            <ng-container matColumnDef="action" stickyEnd>
              <th mat-header-cell *matHeaderCellDef ></th>
              <td mat-cell *matCellDef="let element; let i = index" class="left-text">
                <div fxLayoutGap="5px">
                  <!-- <button mat-mini-fab color="primary" (click)="viewAttachment(i)" matTooltip="View Attachment">
                    <mat-icon>attach_file</mat-icon>
                  </button> -->
                  <button mat-mini-fab color="primary" (click)="viewLogs(element)" matTooltip="View Logs">
                    <mat-icon>description</mat-icon>
                  </button>
                  <!-- <button mat-mini-fab color="warn" (click)="lockPR(element)" matTooltip="{{element.isLocked ? 'Unlock PR' : 'Lock PR'}}" *ngIf="authService.getTypeId() == env.gsoDeptId.toString()">
                    <mat-icon *ngIf="element.isLocked">lock</mat-icon>
                    <mat-icon *ngIf="!element.isLocked">lock_open</mat-icon>
                  </button> -->
                </div>
              </td>
              <!-- <td mat-footer-cell *matFooterCellDef></td> -->
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="rowSelected(row)"
                [class.row-is-clicked]="selectedData == row"
                [ngClass]="{'closed-status': row.status == 'CLOSED' }"></tr>
            <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" class="b"></tr> -->
          </table>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
          <mat-paginator fxFlex="50" [pageSizeOptions]="[50, 100]" showFirstLastButtons aria-label="Select page of PR">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</mat-card>
<button #printButton class="printButton"
  printSectionId="print-section" ngxPrint>Print</button>
<mat-card id="print-section" class="printPage">
  <form>
    <div fxLayoutAlign="center center" fxFlex="grow" fxLayout="columns wrap">
      <!-- <app-purchase-request-print *ngFor="let prItems of selectedPRItemsPrint; index as i" 
        [prData]="selectedPR" 
        [prItemsData]="prItems" 
        [currPage]="i+1" 
        [maxPage]="selectedPRItemsPrint.length" 
        [grandTotal]="calculateTotal()">
      </app-purchase-request-print> -->
    </div>
  </form>
</mat-card>