table {
  width: 100%;
}
.main-table {
  width: max-content;
  min-width: -webkit-fill-available;
}
.tableContainer {
  overflow: auto;
  background-color: white;
  height: 40vh;
  border: 1px solid lightgray;
}
.tableContainer > .tableLabel {
  text-decoration: underline;
  position: absolute;
  font-weight: bold;
}
.tableContainerChild {
  overflow: auto;
  background-color: white;
  height: 33vh;
  border: 1px solid lightgray;
}
.closed-status {
  background-color: darkgray;
}
.locked-status {
  color: red;
}
:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
button.mat-stroked-button {
  line-height: 15px;
}
button ::ng-deep mat-icon {
  padding-top: unset;
}
th.mat-header-cell {
  text-align: center !important;
  border: 1.5px solid #bab7b2;
  /* font-weight: bold; */
  color: white;
  background-color: #35a035;
  padding-left: 8px;
  padding-right: 8px;
}
td.mat-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}
td.mat-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 0px;
}
td.mat-cell,
td.mat-footer-cell {
  padding-right: 10px !important;
  padding-left: 10px !important;
  border: 1.5px solid #bab7b2;
}
.mat-row:hover .mat-cell {
  background-color: #8fffdfab;
}
.row-is-clicked {
  background-color: lightgreen;
}
mat-label {
  padding-right: 20px;
}
mat-form-field {
  width: 100%;
}
mat-icon {
  padding-top: 30%;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: unset !important;
  height: 35px;
}
::ng-deep .mat-form-field-wrapper {
  padding-bottom: unset !important;
}
::ng-deep .mat-form-field-underline {
  position: unset !important;
}
::ng-deep .mat-form-field-infix {
  align-self: self-end !important;
  padding-left: 10px !important;
}

.mat-column-no {
  width: 10px;
}
td.mat-column-action {
  min-width: 10px;
}

/* Print Styles */
.printPage {
  display: none;
}
.printButton {
  display: none;
}