.line-of-business-dialog {
  .formContent {
    width: 30vw;
    min-height: 50vh;
  }

  .group {
    border: 1px solid limegreen;
    border-radius: 10px;
    padding: 16px;
  }
  .label {
    font-size: 10px;
    font-weight: 500;
  }
  .cb ::ng-deep .mat-select-arrow-wrapper {
    height: unset;
    transform: unset;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 24px;
  }
}