img {
  max-width: 100px !important;
}
.logo {
  width: 100px;
  height: 100px;
  text-align: center;
}
.headertext {
  text-align: center;
  padding: 10px;
}
.header1 {
  font-weight: 500;
  margin: unset;
  font-size: 20px;
  margin-bottom: 5px;
}
.header2 {
  font-weight: 500;
  margin: unset;
  font-size: 18px;
  margin-bottom: 5px;
}
.header3 {
  margin: unset;
  font-size: 16px;
}
.formheaderText {
  font-weight: 800;
  margin: unset;
  font-size: 16px;
  text-align: center;
}