<mat-card>
  <form fxLayout="columns wrap">
    <mat-toolbar class="bg-primary">
      <div fxLayoutAlign="space-between center" fxLayout="row wrap" fxFlex="grow">
        <mat-label>Change Status</mat-label>
        <button mat-mini-fab color="warn" (click)="closeDialog()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <div fxLayout="columns wrap" class="formContent">
      <div fxLayoutAlign="start center" fxFlex="grow">
        <div fxFlex="25">
          <mat-label>Business Name : </mat-label>
        </div>
        <div fxFlex="75">
          <h1>{{ selectedData.business_name }}</h1>
        </div>
      </div>
      <div fxLayoutAlign="start center" fxFlex="grow" class="margin-bottom-15">
        <div fxFlex="25">
          <mat-label>Current Status : </mat-label>
        </div>
        <div fxFlex="75">
          <mat-label>{{ selectedData.application_status }}</mat-label>
        </div>
      </div>
      <div fxLayout="column wrap" fxFlex="grow">
        <div fxLayout="column" class="margin-bottom-15">
          <mat-label class="label">
            Status
          </mat-label>
          <mat-form-field appearance="fill">
            <mat-select (selectionChange)="statusSelectedValue($event)"
                [(ngModel)]="selectedStatus" [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let stat of listStatus" [value]="stat">
                {{stat}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-label class="label">
            Message
          </mat-label>
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="message" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </div>
      </div>
      <div fxLayoutAlign="center" fxFlex="grow" fxLayout="row wrap" class="addMarginTop5">
        <div fxLayoutAlign="center center" fxFlex = 50>
          <button mat-raised-button color="primary" fxFlex (click)="updateStatus()">Update</button>
        </div>
      </div>
    </div>
  </form>
</mat-card>