.panel {
  height: 100%;
  width: 100%;
  // overflow: hidden;
}
::ng-deep .sidebar {
  z-index: 0;
}

::ng-deep .cdk-overlay-container {
  .mat-dialog-container {
    height: auto;
    width: min-content;
    padding: unset;
    overflow: unset;
    border-radius: 20px 20px 20px 20px;
  }
  mat-card {
    padding: 0px;
    min-height: unset;
    margin-top: unset;
    height: auto;
    border-radius: 20px;
    background-color: rgb(255 255 255 / 30%);
  }
  .formContent {
    padding: 20px;
    width: 100%;
  }
  mat-toolbar {
    border-radius: 20px 20px 0px 0px;
  }
}

::ng-deep .overlay-container {
  .toast-container .toast-close-button {
    top: 25px !important;
  }
  .toast-container .alert {
    padding-right: 35px;
  }
}