/* You can add global styles to this file, and also import other style files */

@import '~material-design-icons/iconfont/material-icons.css'; /* offline icons */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.loading-spinner {
  position: absolute;
  align-self: center;
  width: calc(100% - 100px);
  text-align: -webkit-center;
  top: calc(50% - 62px);
}